/*--------------------------------------------------------------
# Members Info
--------------------------------------------------------------*/
.wrapper {
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
  justify-content: space-between;
  align-items: center;
}

.image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin-right: 32px;
}

.info h2 {
  font-size: 1.5rem;
}

.info h3 {
  display: inline-block;
  font-size: 1rem;
  padding: 5px 9px;
  border-radius: 4px;
  background: var(--light-blue);
  color: #ffffff;
  text-transform: capitalize;
}

/* Screens Lower than 768px */
@media (max-width: 768px) {
  .wrapper {
    height: 75px;
  }

  .image {
    width: 75px;
    height: 100%;
    margin-right: 14px;
  }

  .info h2 {
    font-size: 18px;
    margin-bottom: 6px;
  }

  .info h3 {
    font-size: 14px;
  }
}