/*--------------------------------------------------------------
# Card
--------------------------------------------------------------*/
@font-face {
  font-family: "BPG Square Banner 2013";
  src: url("/fonts/bpg-square-banner/bpg-square-banner-2013-webfont.eot");
  src: url("/fonts/bpg-square-banner/bpg-square-banner-2013-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/bpg-square-banner/bpg-square-banner-2013-webfont.woff2")
      format("woff2"),
    url("/fonts/bpg-square-banner/bpg-square-banner-2013-webfont.woff")
      format("woff"),
    url("/fonts/bpg-square-banner/bpg-square-banner-2013-webfont.ttf")
      format("truetype"),
    url("/fonts/bpg-square-banner/bpg-square-banner-2013-webfont.svg")
      format("svg");
}

@font-face {
  font-family: "BPG Square Banner Caps 2013";
  src: url("/fonts/bpg-square-banner-caps/bpg-square-banner-caps-2013-webfont.eot");
  src: url("/fonts/bpg-square-banner-caps/bpg-square-banner-caps-2013-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/bpg-square-banner-caps/bpg-square-banner-caps-2013-webfont.woff2")
      format("woff2"),
    url("/fonts/bpg-square-banner-caps/bpg-square-banner-caps-2013-webfont.woff")
      format("woff"),
    url("/fonts/bpg-square-banner-caps/bpg-square-banner-caps-2013-webfont.ttf")
      format("truetype"),
    url("/fonts/bpg-square-banner-caps/bpg-square-banner-caps-2013-webfont.svg")
      format("svg");
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 1.2rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 31rem;
  height: 50rem;
  font-family: "BPG Square Banner Caps 2013", sans-serif;
  color: #161616;

  border: 2px solid #ddd;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.card * {
  margin: 0;
  padding: 0;
  font-family: inherit;
  line-height: 1;
}

.card header {
  margin-bottom: 5rem;
  padding: 1.75rem 1.56rem 0 1.56rem;
  border: 0;
  background-color: transparent;
}

.card header h3 {
  font-size: 1.56rem;
  margin-bottom: 1rem;
}

.card header span {
  font-size: 1.13rem;
  color: var(--blue);
}

.card main {
  padding: 0 1.56rem;
  flex: 1;
}

.card main span {
  font-family: "BPG Square Banner 2013", sans-serif;
  font-size: 0.81rem;
  opacity: 0.5;
}

.card main h4 {
  font-size: 1.75rem;
  margin: 0.88rem 0 3.75rem;
  letter-spacing: -1px;
}

.badge {
  width: 5.63rem;
  height: 5.63rem;
  border-radius: 50%;
  background: #fff;
  margin-top: -1.5rem;
  overflow: hidden;

  position: absolute;
  left: 1.56rem;
  bottom: 7rem;

  -webkit-filter: grayscale(40%);
  filter: grayscale(40%);
}

.avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;

  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  overflow: hidden;

  position: absolute;
  right: 3.75rem;
  top: 27.2rem;
}

.barcode {
  width: 6.56rem;
  height: 6.56rem;

  position: absolute;
  right: 50px;
  top: 43%;
}

.card footer {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5rem;

  height: 5.8rem;
  color: #fff;
  background: var(--blue);
}

/*--------------------------------------------------------------
# Cards Responsiveness
--------------------------------------------------------------*/

@media (max-width: 62.2em) {
  .wrapper {
    flex-direction: column;
  }
}

@media (max-width: 33.4em) {
  .wrapper {
    transform: scale(0.9);
    transform-origin: center top;
    margin-bottom: -9.38rem;
  }
}

@media (max-width: 29.7em) {
  .wrapper {
    transform: scale(0.8);
    margin-bottom: -17.2rem;
  }
}

@media (max-width: 25.9em) {
  .wrapper {
    transform: scale(0.7);
    margin-bottom: -28.5rem;
  }
}

@media (max-width: 23.15em) {
  .wrapper {
    transform: scale(0.6);
    margin-bottom: -38.5;
  }
}
