/*--------------------------------------------------------------
# Carousel
--------------------------------------------------------------*/
.avatar {
  width: 5.625rem;
  height: 5.625rem;
  margin: 0 auto;

  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.name {
  margin: 0.62rem 0 0.31rem 0;
  font-size: 1.125rem;
  font-weight: bold;
  color: #333;
}

.badge {
  margin: 0;
  font-size: 0.88rem;
  color: #999;
  text-transform: capitalize;
}

.button {
  display: inline-block;
  padding: 0.5rem 1.25rem;
  background: var(--light-blue);
  color: #fff;

  border: 0;
  border-radius: 0.25rem;
  transition: 500ms ease;
}

.button:hover {
  background: var(--blue);
  color: #fff;
}
