/*--------------------------------------------------------------
# Form Styles
--------------------------------------------------------------*/
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-transform: capitalize;
}

.form select {
  cursor: pointer;
}

.button {
  width: 100%;
  padding: 0.63rem;
  background: var(--light-blue);
  color: #fff;
  border: none;
  transition: 0.3s ease-out;
}

.button:hover {
  background: var(--blue);
}
