:root {
  --dark-blue: #051a25;
  --light-blue: #276a91;
  --blue: #193e53;
  --gray: #aaa;
}

@font-face {
  font-family: "BPG Arial";
  src: url("/fonts/bpg-arial/bpg-arial-webfont.eot");
  src: url("/fonts/bpg-arial/bpg-arial-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/bpg-arial/bpg-arial-webfont.woff2") format("woff2"),
    url("/fonts/bpg-arial/bpg-arial-webfont.woff") format("woff"),
    url("/fonts/bpg-arial/bpg-arial-webfont.ttf") format("truetype"),
    url("/fonts/bpg-arial/bpg-arial-webfont.svg#bpg_arialregular") format("svg");
}

body {
  font-family: "BPG Arial", sans-serif;
  color: var(--light-blue);
  overflow-x: hidden;
}

a {
  color: var(--light-blue);
  text-decoration: none;
}

a:hover {
  color: var(--blue);
  text-decoration: none;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 48em) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 3.5rem 0;
  overflow: hidden;
}

.heading {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--light-blue);
  text-transform: uppercase;
  text-align: center;
}

.paragraph {
  margin-bottom: 2rem;
  font-size: 0.88rem;
  color: #919191;
  text-align: center;
}
.button {
  width: 100%;
  padding: 0.63rem;
  background: var(--light-blue);
  color: #fff;
  border: none;
  transition: 0.3s ease-out;
}

/* Documents Download Styles */
.documents {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.document-canvas {
  margin: 1rem;
  padding: 1rem 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.document-canvas i {
  margin-left: 0.2rem;
  font-size: 1.5rem;
}

.document-canvas:hover {
  transform: scale(1.01);
}
