/*--------------------------------------------------------------
# Hero Component
--------------------------------------------------------------*/
.hero {
  width: 100%;
  position: relative;
  background: url("/images/hero.jpg") top center;
  background-size: cover;
  position: relative;
  border-bottom: 1px solid #eee;
  margin-top: -1rem;
}

.hero:before {
  content: "";
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  inset: 0;
}

.heading {
  font-family: "BPG Arial", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 72px;
  color: var(--light-blue);
  margin: 0;
}

.subheading {
  font-size: 20px;
  color: var(--gray);
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-height: 800px) {
  .hero {
    height: auto;
  }
}

@media (max-width: 992px) {
  .hero {
    height: auto;
  }
  .heading {
    font-size: 28px;
    line-height: 36px;
  }
  .subheading {
    font-size: 18px;
    line-height: 24px;
  }
}
