/*--------------------------------------------------------------
# Login Styles
--------------------------------------------------------------*/
.gitbutton {
  display: flex;
  align-items: center;

  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;

  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  transition: 0.3s;
}

.gitbutton img {
  width: 1.2rem;
  margin-left: 0.4rem;
  filter: invert(0.2);
}

.gitbutton:hover img {
  filter: none;
}

.gitbutton:hover {
  border-color: #333;
  color: #000;
}

.container {
  position: relative;
  transition: 500ms ease;
}

.user {
  display: flex;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #eee;
  background: #fff;
  padding: 5px 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  height: 59px;
  min-width: 120px;
  position: relative;
  z-index: 100;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}

.name {
  font-size: 1rem;
  margin: 0 0 0 8px;
  color: #124265;
  font-weight: bold;
}

.logout {
  font-size: 0.9rem;
  padding: 5px 0;

  position: absolute;
  z-index: 99;
  width: 100%;
  top: 0;
  right: 0;

  border: none;
  border-radius: 0 0 3px 3px;
  background: var(--light-blue);
  color: #fff;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.container:hover .logout {
  opacity: 1;
  top: 60px;
}

@media (max-width: 75em) {
  .container {
    width: 100%;
  }

  .user {
    justify-content: center;
  }

  .image {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }

  .name {
    font-size: 15px;
  }

  .logout {
    opacity: 1;
    position: relative;
  }

  .container:hover .logout {
    top: 0;
  }
}
