/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

  .paragraph {
    color: #919191;
  }
  
  .button {
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    color: var(--light-blue);
    margin-top: 16px;
    border: 2px solid var(--light-blue);
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
    transition: 0.3s ease-out;
  }
  
  .button:hover {
    background: var(--light-blue);
    color: #fff;
  }

  /*--------------------------------------------------------------
  # About Video
  --------------------------------------------------------------*/
  .image {
    width: 100%;
    height: 300px;
  }

  .subheading {
    font-size: 24px;
    font-weight: 700;
    color: var(--light-blue);
    margin-bottom: 1rem;
  }
  
  .list {
    font-size: 15px;
    list-style: none;
    padding: 0;
    color: var(--blue);
  }
  
  .list li {
    padding-bottom: 10px;
    padding-left: 28px;
    position: relative;
  }
  
  .list i  {
    font-size: 24px;
    color: var(--blue);
    position: absolute;
    left: 0;
    top: -2px;
  }

  .playButton {
    width: 94px;
    height: 94px;
    background: radial-gradient(var(--light-blue) 50%, rgba(36, 135, 206, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
  }
  
  .playButton::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .playButton::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid var(--light-blue);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
  }
  
  .playButton:hover::after {
    border-left: 15px solid var(--light-blue);
    transform: scale(20);
  }
  
  .playButton:hover::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
  }
  
  @-webkit-keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  